<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="../index.php" method="post">
    <div id="string"></div>
    <form>

        <label>
            <textarea required placeholder="Введите Url"  autofocus name="url" cols="30" rows="2"></textarea>
        </label>
        <br><br>
        <label>
            <textarea required placeholder="Глубина парсинга"  name="deep" cols="10"
                      rows="2"></textarea>
        </label>
        <div class="button">
            <input type="submit" name="go" value="отправить">
        </div>
    </form>
</form>
</body>
</html>